<div class="col-lg-12">
	<div class="col-lg-3">
		<div class="widget style1 navy-bg">
			<div class="row">
				<div class="col-xs-12 text-right">
					<span> Clipping </span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-camera-retro fa-3x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<h2 class="font-bold">Novo</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="widget style1 navy-bg">
			<div class="row">
				<div class="col-xs-12 text-right">
					<span> Clipping </span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-camera-retro fa-3x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<h2 class="font-bold">Novo</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="widget style1 lazur-bg">
			<div class="row">
				<div class="col-xs-12 text-right">
					<span> Clipping </span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-envelope-o fa-3x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<h2 class="font-bold">Enviar</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-3">
		<div class="widget style1 yellow-bg">
			<div class="row">
				<div class="col-xs-12 text-right">
					<span> Simplificado </span>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3">
					<i class="fa fa-bar-chart-o fa-3x"></i>
				</div>
				<div class="col-xs-9 text-right">
					<h2 class="font-bold">Relatório</h2>
				</div>
			</div>
		</div>
	</div>
</div>