<%= render_crud do %>
<div class="row">
  <div class="col-xs-8" id="tabela_de_usuarios">
    <%= render "/acoes/usuarios" %>
  </div>
  <div class="col-xs-4">
    <%= render "/acoes/filtros" %>
  </div>
  <hr>
</div>
<% end %>