<div class="panel panel-primary">
	<div class="panel-heading">
		Qualificações
	</div>
	<div class="panel-body">
		<p>Utilize os filtros abaixo para encontrar as ideias</p>
		<div class="feed-element">
  			<div>
  				<label class=""> 
  					<div class="icheckbox_square-green" style="position: relative;">
  						<input name="tag_candidatos" type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" data-name="candidatos">
  					</div> 
  					Candidatos
  				</label>
  			</div>
  			<div>
  				<label class=""> 
  					<div class="icheckbox_square-green" style="position: relative;">
  						<input name="tag_confirmados" type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" data-name="candidatos">
  					</div> 
  					Confirmados
  				</label>
  			</div>
  			<div>
  				<label class=""> 
  					<div class="icheckbox_square-green" style="position: relative;">
  						<input name="tag_outros" type="checkbox" class="i-checks" style="position: absolute; opacity: 0;" data-name="candidatos">
  					</div> 
  					Outros
  				</label>
  			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	var tags = [];
	function busca_por_tag(){
		$.get('/api/usuarios/busca_por_tag.js?tag=' + tags + '&id=' + <%=@record.id%>);
	}
	$("input[name^='tag_']").on("ifChecked click",function(){
		tags.push($(this).data("name"));
		busca_por_tag();
	});	
	$("input[name^='tag_']").on("ifUnchecked click",function(){
		tags.splice(tags.indexOf($(this).data("name")), 1);
		busca_por_tag();
	});
</script>