<%= form_for "envio", url: concluir_feedback_acao_path(id: @record.id), method: "post", html: {id: "form_envio"}, remote: true do |f| %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Nome</th>
      </tr>
    </thead>
    <tbody>
      <% usuarios ||= Usuario.order(:nome) %>
      <% usuarios.each do |usuario| %>
      <tr class="read">
        <td class="check-mail">
          <%= f.check_box "usuarios[#{usuario.id}]", class: "i-checks tabela-usuarios" %>
        </td>
        <td class="mail-contact"><%= usuario.nome %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="form-group">
  		<div class="col-sm-6">
  			<input type="submit" name="commit" value="Salvar Feedback" class="btn btn-primary">
  			<a class="btn btn-default" href="/crud/acao">Voltar</a>
  		</div>
  	</div>
<% end %>