<html>
<head>
<title>Bénévole</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<div style="background-color:#FFFFFF;padding-bottom: 25px;">
	<p>Seu cadastro foi feito com sucesso no Bénévole, seja bem vindo.<br/>
	<br/>
	Acesse o link abaixo para criar a senha de acesso.<br/>
	<br/>
	<%= link_to 'Criar Senha', edit_password_url(@resource, :reset_password_token => @token) %> - Clique aqui e crie a sua nova.</p>
	<br/>
</div>
</body>
</html>
